 .breadcrumb {
     display: flex;
     justify-content: space-between;
 }

 #marquee {
     background: linear-gradient(to right, #069ce6, #d00288, #f79809);
     box-shadow: 5px 5px 5px rgba(62, 60, 60, 0.6);
 }

 .card {
     box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
 }

 tr {
     box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
         rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
 }

 #tf {
     border: none;
     box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
 }

 #green {
     fill: green;
 }

 #red {
     fill: red;
 }

 .pagination .page-link:before,
 .pagination .page-link:after {
     display: inline-block;
     font-weight: bold;
 }

 .pagination .previous .page-link:before,
 .pagination .next .page-link:after {
     display: none;
 }

 .pagination .page-link {
     background-color: rgba(255, 255, 255, 0.779);
     border-color: rgb(174, 169, 166);
     margin: 8px;
     color: rgb(218, 77, 7);
 }

 .pagination .page-link:hover {
     background-color: #ff6701;
     border-color: #ff4d00;
     color: white;
 }

 .pagination .page-item.active .page-link {
     background-color: #ff6701;
     border-color: #ff6701;
     color: white;
 }

 @media (max-width: 1090px) {
     #sidebarToggle {
         margin-left: 10px !important;
     }
 }

 @media (max-width: 800px) {
     #marquee {
         width: 200px !important;
     }
 }

 @media (max-width: 552px) {
     table {
         font-size: 15px;
     }

     svg {
         height: 20px;
         width: 20px;
     }
 }
