 tr {
     box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
         rgba(0, 0, 0, 0.3) 0px 3px 7px -3px !important;
 }

 #head {
     color: #000000"

 }

 #marquee {
     background: linear-gradient(to right, #069ce6, #d00288, #f79809);
     box-shadow: 5px 5px 5px rgba(62, 60, 60, 0.6);
 }

 #card {
     box-shadow: 5px 5px 5px 5px rgba(62, 60, 60, 0.6);
 }

 .success {
     box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
 }

 #img {
     width: 50px;
     height: 50px;
     box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
 }

 .pagination .page-link:before,
 .pagination .page-link:after {
     display: inline-block;
     font-weight: bold;
 }

 .pagination .previous .page-link:before,
 .pagination .next .page-link:after {
     display: none;
 }

 .pagination .page-link {
     background-color: rgba(255, 255, 255, 0.779);
     border-color: rgb(174, 169, 166);
     margin: 8px;
     color: rgb(218, 77, 7);
 }

 .pagination .page-link:hover {
     background-color: #ff6701;
     border-color: #ff4d00;
     color: white;
 }

 .pagination .page-item.active .page-link {
     background-color: #ff6701;
     border-color: #ff6701;
     color: white;
 }

 @media (max-width: 1178px) {

     .btn-danger,
     .btn {
         margin-top: 5px !important;
     }
 }

 @media (max-width: 992px) {
     #sidebarToggle {
         margin-left: 10px !important;
     }

     table {
         font-size: 25px;
         width: 900px !important;
     }

     tr {
         margin-left: 20px !important;
     }

     .btn-danger {
         padding-left: 20px !important;
         padding-right: 20px !important;
     }

     .btn-warning {
         padding-left: 20px !important;
         padding-right: 20px !important;
         width: 78px !important;
     }

     .table>.thead {
         width: 900px !important;
     }
 }

 @media (max-width: 800px) {
     #marquee {
         width: 200px !important;
     }
 }

 @media (max-width: 528px) {
     table {
         font-size: 20px;
     }
 }

 @media (max-width: 492px) {
     table {
         font-size: 15px;
     }
 }

 @media (max-width: 528px) {
     table {
         font-size: 20px;
     }
 }

 @media (max-width: 456px) {
     .btn-danger {
         padding: 5px !important;
         margin-top: 5px !important;
         width: 78px;
     }

     .btn-warning {
         padding: 5px !important;
         margin: 0px !important;
     }
 }

 @media (max-width: 431px) {
     .btn-danger {
         width: 50px;
         margin-top: 4px !important;
     }

     .btn-warning {
         width: 50px !important;
     }
 }
