 .breadcrumb {
     display: flex;
     justify-content: space-between;
 }

 #marquee {
     background: linear-gradient(to left, #069ce6, #d00288, #f79809);
     box-shadow: 5px 5px 5px rgba(62, 60, 60, 0.6);
 }

 tr>td {
     padding: 0px !important;
 }

 tr {
     box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
         rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
 }

 #card {
     box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
 }

 .success {
     box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
 }

 #tf {
     border: none;
 }

 .pagination .page-link:before,
 .pagination .page-link:after {
     display: inline-block;
     font-weight: bold;
 }

 .pagination .previous .page-link:before,
 .pagination .next .page-link:after {
     display: none;
 }

 .pagination .page-link {
     background-color: rgba(255, 255, 255, 0.779);
     border-color: rgb(174, 169, 166);
     margin: 8px;
     color: rgb(218, 77, 7);
 }

 .pagination .page-link:hover {
     background-color: #ff6701;
     border-color: #ff4d00;
     color: white;
 }

 .pagination .page-item.active .page-link {
     background-color: #ff6701;
     border-color: #ff6701;
     color: white;
 }

 @media (max-width: 992px) {
     #sidebarToggle {
         margin-left: 10px !important;
     }

     table {
         font-size: 15px !important;
     }

     #marquee {
         width: 200px !important;
     }

     tr>td {
         padding: 0px !important;
     }
 }

 @media (max-width: 522px) {
     table {
         font-size: 15px;
     }
 }

 @media (max-width: 465px) {
     .rb>.input-group {
         width: 210px;
     }

     .rb>.input-group>span>svg {
         width: 15px;
         height: 15px;
     }



     .d-flex>.card>a {
         font-size: 15px !important;
         padding-right: 0px;
     }
 }

 @media (max-width: 400px) {
     #rat {
         width: 100px;

     }
 }
