.breadcrumb {
    display: flex;
    justify-content: space-between;
}

tr>td {
    padding: 0px !important;

}

#img {
    padding-left: 450px;
    margin-top: 1%;
    fill: rgb(44, 46, 44);
}

#jd {
    color: black;
}

#marquee {
    background: linear-gradient(to right, #069ce6, #d00288, #f79809);
    box-shadow: 5px 5px 5px rgba(62, 60, 60, 0.6);
}

#kkl {
    box-shadow: 5px 5px 5px 5px rgba(62, 60, 60, 0.6);
}

.tfoot {
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

tr {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#green {
    fill: green;
}

#red {
    fill: red;
}

.pagination .page-link:before,
.pagination .page-link:after {
    display: inline-block;
    font-weight: bold;
}

.pagination .previous .page-link:before,
.pagination .next .page-link:after {
    display: none;
}

.pagination .page-link {
    background-color: rgba(255, 255, 255, 0.779);
    border-color: rgb(174, 169, 166);
    margin: 8px;
    color: rgb(218, 77, 7);
}

.pagination .page-link:hover {
    background-color: #ff6701;
    border-color: #ff4d00;
    color: white;
}

.pagination .page-item.active .page-link {
    background-color: #ff6701;
    border-color: #ff6701;
    color: white;
}

@media (max-width: 1298px) {
    .btn-outline-danger {
        margin-top: 4px;
        margin-right: 75px;

    }

}



@media (max-width: 990px) {
    #sidebarToggle {
        margin-left: 10px !important;
    }

}

@media (max-width:800px) {
    #marquee {
        width: 200px !important;
    }
}

@media (max-width: 1223px) {
    table {
        font-size: 15px;
    }
}

@media (max-width: 1183px) {
    table {
        font-size: 12px;
    }

    .btn-outline-danger {
        width: 50px !important;
        font-size: 10px !important;
    }


    table>tbody>tr>td>a {
        font-size: 10px !important;
    }
}

@media (max-width: 1040px) {
    table>tbody>tr>td>a {
        font-size: 8px !important;
        padding: 0px;
    }

    svg {
        width: 25px;
        height: 25px;
    }

    .btn-outline-danger {
        margin-top: 2px;
        margin-right: 50px !important;
    }

    .btn-outline-info {
        width: 45px !important;
    }

}

@media (max-width: 511px) {

    .btn-outline-danger {
        width: 50px !important;
        font-size: 10px !important;
    }

}

@media (max-width: 505px) {
    .red {
        margin-left: 70px !important;
    }

    .green {
        margin-left: 22px;
    }


}

@media (max-width: 492px) {
    .btn-outline-info {
        width: 45px !important;
    }

    .red {
        margin-left: 58px !important;
    }

    .green {
        margin-left: 10px;
    }

    .btn-outline-danger {
        width: 45px;
        margin-left: 10px;
        margin-top: -20px !important;
    }
}
