.breadcrumb {
    display: flex;
    justify-content: space-between;
}

.imges>img {
    width: 60px;
    height: 60px;
    box-shadow: rgb(11, 11, 12) 0px 0px 0px 3px, rgb(193, 27, 152) 0px 0px 0px 6px,
        rgb(79, 14, 190) 0px 0px 0px 9px, rgb(8, 115, 74) 0px 0px 0px 12px,
        rgb(8, 197, 255) 0px 0px 0px 15px;
}

@media (max-width: 1210px) {
    .rounded-circle {
        width: 50px !important;
        height: 50px !important;
    }

    #sidebarToggle {
        margin-left: 10px !important;
    }
}

@media (max-width: 1125px) {
    .rounded-circle {
        width: 45px !important;
        height: 45px !important;
    }

    #sidebarToggle {
        margin-left: 10px !important;
    }
}

@media (max-width: 1090px) {
    .rounded-circle {
        width: 35px !important;
        height: 35px !important;
    }

    #sidebarToggle {
        margin-left: 10px !important;
    }

    .form-row>.form-check>input {
        width: 12px !important;
        height: 12px;
    }
}

@media (max-width: 990px) {
    .rounded-circle {
        width: 35px !important;
        height: 35px !important;
    }

    #sidebarToggle {
        margin-left: 10px !important;
    }

    .form-row>.form-check>input {
        width: 12px !important;
        height: 12px;
    }

    .form-row>.form-check:last-child {
        margin-top: 20px;
    }
}

@media (max-width: 990px) {
    .form-row>.form-check:last-child {
        margin-top: 20px;
    }

    .form-row>.form-check:nth-child(6) {
        margin-top: 20px;
    }

    .form-row>.form-check:nth-child(7) {
        margin-top: 20px;
    }

    .form-row>.form-check:nth-child(8) {
        margin-top: 20px;
    }

    #marquee {
        width: 200px !important;
    }
}

@media (max-width: 990px) {
    .form-row>.form-check:nth-child(5) {
        margin-top: 20px;
    }
}

@media (max-width: 410px) {
    .form-row>.form-check:nth-child(4) {
        margin-top: 20px;
    }
}

@media (max-width: 330px) {
    .form-row>.form-check:nth-child(3) {
        margin-top: 20px;
    }
}

@media (max-width: 270px) {
    .form-row>.form-check:nth-child(2) {
        margin-top: 20px;
    }
}